/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Skeleton scaffolding for CSS files
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@use 'typography';

/* ronin styles */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem; /* 10px  - keep it simple */
}

/* Global/Site-wide/Shared */
// header {}
// footer {}

// .wrapper {}
// .content {}


/* Code Blocks */
pre {
  display: inline-block;
}

code {
  display: block;
}

code.codeblock {
  width: auto;
}


/* Sections */
section {
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 1);
}

