/* ————————————————————————————————————————————————————————————————————————————
  Header @Styles
———————————————————————————————————————————————————————————————————————————— */
header {
  background-color: var(--bg3);
  box-shadow: 0 4px 18px var(--shadow);
  color: var(--color1);
  position: sticky;
  top: 0;
  z-index: 1;

  .container {
    padding: 1.75rem 1rem 1rem;
    width: 1024px;
  }
}