/* ————————————————————————————————————————————————————————————————————————————
  Header @Styles
———————————————————————————————————————————————————————————————————————————— */
header {
  background-color: var(--bg3-halloween);
  box-shadow: 0 4px 18px var(--shaddow-halloween);
  color: var(--color1-halloween);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;

  .container {
    padding: 2.5rem 1rem;
    width: 1024px;
  }
}