/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  Skeleton scaffolding — basic CSS
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

.content {
  margin: 0 auto;
  padding-top: 250px;
  width: 1024px;
}

.container {
  margin: 0 auto;
  width: 1024px;
}


/*
  Global/Site-wide/Shared
*/
header {
  background-color: aliceblue;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
}

header .container {
  padding: 2.5rem 1rem;
}

/*
footer {}
.wrapper {}
.content {}
*/


/*
  Typography
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.17rem;
}

h6 {
  font-size: 0.83rem;
}


/*
  Code Elements
*/
pre {
  display: inline-block;
}

code {
  display: inline-block;
}

code.codeblock {
  width: auto;
}


/*
  Forms
*/
/* form {} */


/*
  Sections
*/
section {
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 1)
}


/*
  Pages
*/
/*
.about {}
.contact-us {}
*/
