@import url("themes.css");
@import url("typography.css");
@import url("header.css");
@import url("nav.css");
@import url("footer.css");

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––
  Basic scaffolding — basic CSS
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background-color: var(--bg1-halloween);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  width: clamp(768px, calc(100vw - 2rem), 1200px);
}

.content {
  margin: 0 auto;
  padding-top: 225px;
}

.container {
  margin: 0 auto;
  width: 1024px;
}


/*
  Global/Site-wide/Shared
*/
.nin-logo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 4px solid var(--border-halloween);
  display: inline-block;
  padding: 0 6px;
  position: relative;
  font-weight: 700;
  
  .reverse-char {
    display: inline-block;
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
  }
}


/*
footer {}
.wrapper {}
.content {}
*/


/*
  Code Elements
*/
pre, code {
  display: inline-block;
}

pre {
  width: 100%;
}


/*
  Sections
*/
section {
  background-color: var(--bg2-halloween);
  border-radius: 0.5rem;
  border: 1px solid var(--border-halloween);
  margin: 2rem 2rem 0;
  padding: 1rem;
}
