/* ————————————————————————————————————————————————————————————————————————————
  Typography @Styles
———————————————————————————————————————————————————————————————————————————— */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
  text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 0.83rem;
}